<div class="col friends-col py-4">
	<p class="lead font-red">Friends</p>
	<p class="d-flex user-name-and-image">
		<span class="post-author-img">
		<img src="https://avatars1.githubusercontent.com/u/25789605?s=460&v=4" alt="small profile image" class="img-fluid small-profile-img">
	</span> 
	<span class="post-author-name ml-2">Asha Asha</span></p>

	<p class="d-flex user-name-and-image">
		<span class="post-author-img">
		<img src="https://avatars1.githubusercontent.com/u/25789605?s=460&v=4" alt="small profile image" class="img-fluid small-profile-img">
	</span> 
	<span class="post-author-name ml-2">Asha Asha</span></p>

	<p class="d-flex user-name-and-image">
		<span class="post-author-img">
		<img src="https://avatars1.githubusercontent.com/u/25789605?s=460&v=4" alt="small profile image" class="img-fluid small-profile-img">
	</span> 
	<span class="post-author-name ml-2">Asha Asha</span></p>
</div>